{%extends 'app/layouts/default.html'%}
{%block content%}
<main id="main" class="main">
    <form class="section dashboard" action="" method="POST">
      <div class="col-12">
        
        <div class="card-body">
          <h5 class="card-title">Category <span>| Add Category</span></h5>
          <form>
            
          {% csrf_token %}
          {{form}}

          <div class="form-group">
            <input type="simple" class="form-control" placeholder="Code">
          </div>
          </br>
          <div class="form-group">
            <input type="simple" class="form-control" placeholder="Description">
          </div>
          </br>
            </form> </br>
            <input type="Submit" name="Submit">
      </div>
    </form><!-- End Recent Sales -->
</main>
{%endblock%}