{% extends "app/layouts/default.html" %}

{% load static %}

{% block content %}
<main id="main" class="main">
  <div class="col-xxl-12 col-md-4 d-flex justify-content-center w-100 p-3 flex-wrap gap-3">
    <select class="form-select" aria-label="Default select example">
      <option selected>Choose Sport</option>
      <option value="1">Football</option>
      <option value="2">Basketball</option>
      <option value="3">Handball</option>
    </select>
  </div>
  <div class="col-xxl-12 col-md-4 d-flex justify-content-center w-100 p-3 flex-wrap gap-3">
  
        <!-- debut -->
        <!-- <div class="col-xxl-4 col-md-4"> -->
            {% for ticket in tickets  %}
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">{{ticket.description}} </span></h5>

                <div class="d-flex align-items-center">
                  <!-- <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-cart"></i>
                  </div> -->
                  <div class="d-flex align-items-center justify-content-center">
                  <div class="ps-3">
                    <h6>Lieu  {{ticket.place}}</h6>
                    <span class="text-success small pt-1 fw-bold">prix</span> <span class="text-muted small pt-2 ps-1">{{ticket.price|floatformat:2}}
                         <strong>fbu</strong>
                    </span>
                </div>
                    <div class="ps-3">
                        <span class="text-success small pt-1 fw-bold">Date</span> <span class="text-muted small pt-2 ps-1">26/3/2025
                        </span>
                      </div>
                </div>
                </div>
               <br>    
               <div>
                 <div id="paypal-payment-button"></div>
             <button class="btn btn-outline-secondary add-btn update-panier" data-produit={{ticket.pk}} data-action="add">
                  Acheter</button>
              </div>
            </div>
          </div>
        {% endfor %}
        <!-- fin -->
    </div>

</main>

{% endblock content %}