<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home_index' %}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#components-nav1"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bi bi-trophy-fill"></i><span>Sports</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="components-nav1"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a href="#"> <i class="bi bi-circle"></i><span>Sports News</span> </a>
        </li>
        <li>
          <a href="{% url 'sport_index' %}">
            <i class="bi bi-circle"></i><span>All Sports</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Components Nav -->

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#components-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bi bi-ticket"></i><span>Tickets</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="components-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a href="{% url 'ticket_index' %}">
            <i class="bi bi-circle"></i><span>Sell</span>
          </a>
        </li>
        <li>
          <a href="components-alerts.html">
            <i class="bi bi-circle"></i><span>All Tickets</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'orders_index' %}">
        <i class="bi bi-cart"></i>
        <span>History</span>
      </a>
    </li>
    <li class="nav-heading">Personal information</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="users-profile.html">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="pages-contact.html">
        <i class="bi bi-envelope"></i>
        <span>Contact</span>
      </a>
    </li>
    <!-- End Contact Page Nav -->
    <li class="nav-heading">Settings</li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'category_index'%}">
        <i class="bi bi-card-list"></i>
        <span>Categorie</span>
      </a>
    </li>
    <!-- End Register Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'logout__' %}">
        <i class="bi bi-box-arrow-in-left"></i>
        <span>Logout</span>
      </a>
    </li>
    <!-- End Login Page Nav -->
  </ul>
</aside>
